.navigation {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navigation div {
    margin: 0 10px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
    position: relative;
    transition: color 0.3s ease; 
}

.navigation a:hover::after,
.navigation a:active::after,
.navigation a:focus::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 5px;
    background-color: rgb(26, 152, 26);
    border-radius: 5px;
}

.navigation a:hover,
.navigation a:active,
.navigation a:focus {
    color: rgb(26, 152, 26); 
}


.card-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll; 
  }

.aut {
    margin-top: 50px;
    color: gray;
}
  
.data {
    display: flex;
    justify-content: space-between;
    color: grey;
}
